.blog__description{
  margin-top: 30px;
  font-size: 18px;
  line-height: 1.9em;
  color: #000000;
  font-weight: 500;
  /* font-family: 'Roboto', sans-serif; */
}

.blog__title{
  line-height: 1.4em;
}

